- if flash.any?
  - flash.each do |type, messages|
    - type = 'danger' if (type == 'error' || type == 'alert')
    - if messages.kind_of?(Array)
      .alert{ class: "alert-#{type}" }
        - messages.each do |message|
          %div= message
    - else
      .alert{ class: "alert-#{type}" }
        %div= messages
