%meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
%meta{ content: 'width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0, shrink-to-fit=no', name: 'viewport' }
%meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }
%meta{ name: 'mobile-web-app-capable', content: 'yes' }
%title= content_for(:title) ? "#{yield(:title)} | Code Challenge" : 'Code Challenge'
= csrf_meta_tags
= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:300,400,500'
= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'
= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css'
= stylesheet_link_tag 'https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css'
= stylesheet_pack_tag    'application'
-# = favicon_link_tag       asset_pack_path('images/favicon.ico')
